<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.star.cinema.movie.dao.IChartDAO">

<select id = "groupCount" resultType="int">
	select movieListNum,count(*) as B from ticketing group by movieListNum order by B desc
</select>

<select id="moiveCount" parameterType="int" resultType="int">
	select count(*) from ticketing where movieListNum=#{movieListNum}
</select>

<select id="totalTicketCount" resultType="int">
	select count(*) from ticketing
</select>

<select id="likeRank" resultType="int">
	select movieListNum,sum(likecheck)as A from grade group by movieListNum order by A desc
</select>

<select id="likeRate" resultType="int">
	select sum(likecheck)as A from grade group by movieListNum order by A desc
</select>

<select id="gradeRank" resultType="int">
 	select movieListNum,avg(grade) as A from grade where review is NOT NULL group by movieListNum order by A desc
</select>

<select id="gradeRate" resultType="int">
	select avg(grade) as A from grade where review is NOT NULL group by movieListNum order by A desc
</select>

<select id="reviewRank" resultType="int">
	select movieListNum,count(review)as A from grade group by movieListNum order by A desc
</select>

<select id="reviewRate" resultType="int">
	select count(review)as A from grade group by movieListNum order by A desc
</select>

</mapper>